.navbar {
  background-color: #fffbee;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-left: 1rem;
  text-decoration: none;
  color: #444;
}

.nav-link.active {
  font-weight: bold;
  color: #e67e22;
}
